<main class="w-full h-full flex justify-center items-center" loading="lazy"
  style="background-image: url('../../../../../assets/imagen/header.png');">

  <section id="form" class="bg-gray-300 sm:w-10/12 h-auto p-8">

    <div class="head ">
      <h2 class="text-center font-sans font-bold">INICIA SESSION</h2>
      <p class="text-center text-xl font-serif font-bold">INICIA SECCION</p>
      <p class="text-center text-xl font-sans font-bold">INICIA SECCION</p>
    </div>

    <div class="formulario">
      <label for="user">
        <p>Usuario</p>
        <input type="text" name="user" id="user">
      </label>
      <label for="pass">
        <p>Contraseña</p>
        <input type="password" name="pass" id="pass">
      </label>
    </div>

  </section>
</main>
